{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Gravity:<h2>
    <h3>Welcome, this is a gravity simulator, created by Jonathan Martinez
      It looks to simulate the solar system under different hypothetical scenarios, ranging from the ordinary
      to outlandlish. The purpose is to help physics students to better grasps the affects of gravity, both in the classical sense
      and in the relavistic one!<h3>

  </div>
  <a href="{{ url_for('main') }}" class="button">Let's Get Started!</a>
{% endblock %}
