<!DOCTYPE html>
<html>
  <head>
    <title>Fun with Gravity</title>
	<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>

    <header>
      <div class="container">
        <h1 class="logo">Fun with Gravity</h1>
	<strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav></strong>
      </div>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
